* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #85929e;
}
textarea {
  width: 30%;
  height: 280px;
  padding: 10px;
  margin: 10px;
  resize: none;
  color: white;

  background-color: #28352b;
}
iframe {
  background-color: white;
  width: 100%;
  height: 280px;
  margin-top: 10px;
}
textarea:focus {
  width: 30%;
  height: 280px;
  padding: 10px;
  margin: 10px;
  resize: none;
  color: white;
  background-color:#85929e;
}
